DB_HOST=notification_db
DB_PORT=5432
DB_USER=user
DB_PASS=password
DB_NAME=notification_db
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_DELIVERY_TIMEOUT_MS=10000
KAFKA_MAX_POLL_INTERVAL_MS=180000
PROCESSING_LEASE_SECONDS=60
SENDER_MAX_ATTEMPTS=3
SENDER_ATTEMPT_TIMEOUT_SECONDS=10
SENDER_RETRY_MIN_SECONDS=1
SENDER_RETRY_MAX_SECONDS=5
